.board {
  display: flex;
}

div.cell {
  background-color: white;
  border: 2px solid black;
  width: 25px;
  height: 25px;
}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div#game-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

div#page-holder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* div.cell:hover {
  background-color: gray;
} */

div.cell.black-cell {
  background-color: black;
}

div.hovered {
  background-color: aquamarine;
  opacity: 0.5;
}

div.illegal-hovered {
  background-color: red;
  opacity: 0.5;
}